@using (Html.BeginForm("BlogAra", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h5 class="card-header"><span class="fa fa-search"></span> Blog Ara</h5>

    <div class="card-body">
        <div class="input-group">
            <input type="text" id="Ara" name="Ara" class="form-control" placeholder="Ara...">
            <span class="input-group-btn">
                <button class="btn btn-secondary" value="Ara" type="submit">Ara</button>
            </span>
        </div>
    </div>

}
        